* {
  box-sizing: border-box;
  direction: rtl;
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0%;
  padding: 0%;
}

.nav-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 105px;
  background-color: grey;
}

.footer-cont {
  margin-top: 45px;
  display: flex;
  justify-content: center;
  height: 38px;
  background-color: grey;
  color: white;
  font-size: 14px;
  font-weight: normal;
}

.navrow-menu {
  width: 900px;
  margin: auto;
  display: flex;
  font-size: 14px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  direction: ltr;
  padding-top: 10px;
}
.navrow-menu-items {
  display: flex;
  padding-right: 10px;
  padding-left: 10px;
  position: relative;
}
.navrow-menu-item {
  display: flex;
  padding-right: 10px;
  padding-left: 10px;
  position: relative;
}
#fb-icon {
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 1px;
  width: 17px;
  height: 17px;
}
#paz-logo {
  right: -140px;
  top: -40px;
  position: absolute;
}
#home-icon {
  margin-top: 2px;
  width: 17px;
  height: 15px;
}
#search-icon {
  margin-top: 1px;

  width: 20px;
  height: 20px;
}
.navrow-search {
  padding-top: 7px;
  width: 900px;
  display: flex;
  margin: auto;
  direction: ltr;
}
.navrow-search-items {
  color: white;
  font-weight: bold;
  padding-left: 20px;
  padding-top: 5px;
  font-size: 75%;
}
.main-cont {
  display: flex;
  justify-content: center;
  margin-top: 33px;
  height: 354px;
}
.second-cont {
  display: flex;
  justify-content: center;
  height: 215px;
  margin-top: 20px;
}

.col33 {
  width: 290px;
  margin-left: 7px;
  margin-right: 7px;
  border-bottom-right-radius: 5%;
}
.col33-bottom {
  width: 290px;
  margin-left: 7px;
  margin-right: 7px;
  border-top-right-radius: 10%;
  background-color: gainsboro;
}

.col33-header {
  width: 248px;
  height: 96px;
  margin-left: 34px;
  margin-right: 7px;

  margin-top: 250px;
  background-color: gray;
  opacity: 0.92;
  border-bottom-right-radius: 10%;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  color: white;
}
.col33-text {
  margin-top: 2px;
  font-size: 13px;
  color: white;
  line-height: 13px;
  font-weight: lighter;
}
.col33-link {
  font-size: 13px;
  color: white;
  direction: ltr;
  text-align: left;
  font-weight: lighter;
  text-decoration: underline;
}
.col33-bottom-header {
  padding-top: 10px;
  padding-right: 20px;
  font-size: 14px;
  font-weight: bold;
  color: grey;
}
.col33-bottom-line {
  border-bottom: solid 2px darkgray;
  width: 250px;
  margin: auto;
  margin-top: 6px;
  opacity: 0.9;
}

.col33-bottom-image {
  width: 250px;
  height: 110px;
  margin: auto;
  margin-top: 16px;
}
.col33-map-image {
  width: 73px;
  height: 170px;
  margin-top: 8px;
}

.col33-map-text {
  width: 70%;
  height: 170px;
  margin-top: 8px;
  font-size: 13px;
  color: grey;
  text-decoration: underline;
}
ul {
  list-style: none;
  padding-right: 20px;
}

.col33-map-image-cont {
  display: flex;
}
.col33-bottom-link {
  font-size: 13px;
  direction: ltr;
  text-align: left;
  margin-top: 15px;
  margin-left: 20px;
  color: grey;
  text-decoration: underline;
}
.footer-menu-items,
.footer-menu-item {
  display: flex;
  padding-left: 5px;
  padding-top: 5px;
}

.footer-items-cont {
  width: 930px;
  direction: rtl;
  margin: 0px;
}

.footer-menu-item:hover {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

.col33-link:hover,
.col33-bottom-link:hover,
.map-links:hover {
  color: blue;
  cursor: pointer;
}
.navrow-menu-item:hover {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}
.footer-menu-item {
  color: white;
  text-decoration: none;
}
/*dropdown new*/

.dropdown-content {
  display: none;
}

.dropdown-content li {
  border-bottom: solid 0.5px white;
  width: 140px;
  color: white;
  background-color: gray;
  direction: rtl;
  text-align: right;
  padding-right: 5px;
  width: 120px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.dropdown-content ul :last-child {
  border-bottom: none;
}
.dropdown-content li:hover {
  background-color: darkgray;
  color: blue;
  text-decoration: underline;
}
.navrow-menu-item:hover .dropdown-content {
  position: absolute;
  display: block;
  margin-top: 20px;
  color: white;
  direction: rtl;
  text-align: right;
  padding: 0px;
  width: 120px;
}

/*contact page*/
.contact-cont {
  display: flex;
  height: 540px;
  border: solid 1px black;
}
